html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Karla', sans-serif !important;
}

.bg-img {
  height: 95%;
  width: auto;
  background-image:
    linear-gradient(to bottom, rgba(0, 50, 50, 0.25), rgba(0, 40, 90, 0.80)),
    url('./images/image1.jpg');
  background-position:
    center center,
    center center;
  background-repeat:
    no-repeat,
    no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.row-extra {
  height: 40%;
}

.color-reverse {
  color: white;
}

.h1-cust {
  font-size: 5em;
}

.p-cust {
  font-size: 1.5em;
}

.btn-cust {
  border-radius: 0px !important;
  background-color: rgba(255, 255, 255, 0) !important;
  width: 100%;
  margin-right: 2%;
}

#arrow-row {
  margin-top: 10vh;
}

#footer {
  margin-top: 15vh;
}

#second-img {
  margin-top: 2vh;
}

#second-section {
  height: 100vh;
  width: 100vw;
  margin-top: 10em;
}

.second-section-header {
  padding-top: 10em;
}

.glyphicon-arrow-down {
  background-color: transparent;
  color: white;
}

.navbar-brand {
  font-size: 1.5em;
}

.navbar {
  height: 5%;
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.affix {
  top: 0;
  width: 100%;
}

.affix + .container-fluid {
  padding-top: 70px;
}

@media (min-width: 320px) and (max-width: 413px) {
  .h1-cust {
    font-size: 3em;
  }
  .row-extra {
    height: 22%;
  }
}

@media (min-width: 414px) and (max-width: 480px) {
  .h1-cust {
    font-size: 3em;
  }
  .row-extra {
    height: 35%;
  }
}

 @media (min-width: 481px) and (max-width: 768px) {
  .h1-cust {
    font-size: 4em;
  }
}

@media (min-width: 769px) {
   .h1-cust {
    font-size: 4em;
  }
}
